---
Checks: '-*,
bugprone-*,
cppcoreguidelines-*,
misc-*,
modernize-*,
performance-*,
readability-*,
cppcoreguidelines-*,
hicpp-*,
google-*,
cert-*,
-readability-implicit-bool-conversion,
-readability-qualified-auto,
-modernize-use-trailing-return-type,
-modernize-use-nodiscard,
-cppcoreguidelines-pro-type-const-cast,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-owning-memory,
-google-readability-todo,
-cert-err58-cpp,
'
CheckOptions:
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
---


